[Unit]
Description=Apache Solr Server
After=syslog.target network.target remote-fs.target nss-lookup.target
Requires=network.target

[Service]
Restart=on-failure
PIDFile=<%= node['typo3_solr']['solr']['solr_home'] %>/bin/solr-8983.pid
ExecStart=<%= node['typo3_solr']['solr']['solr_home'] %>/bin/solr -m 1G -noprompt
User=solr
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target