[Unit]
Description=Apache Tika Server
After=network.target
Requires=network.target

[Service]
Restart=on-failure
ExecStart=/usr/bin/java -jar <%= node['typo3_solr']['solr']['tika_home'] %>/tika-server-<%= @app %>.jar --host localhost --port 9998
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target